:root {
  --color-primary: #907609;
  --color-primary-light: #BDA64B;
  --color-primary-dark: #856F19;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-4); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(to left bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  margin: 0rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }

.header {
  font-size: 1.4rem;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  background-image: url(/img/cover.jpg);
  background-size: cover;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: url(/img/food-13.jpg);
      background-size: cover; } }

.navbar {
  flex-direction: row;
  width: 100%; }

.content {
  display: flex;
  flex-direction: column;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.about {
  display: flex;
  justify-content: space-between;
  padding: 7rem;
  border-bottom: var(--line); }
  @media only screen and (max-width: 68.75em) {
    .about {
      padding: 0rem; } }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding-bottom: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      flex-direction: column;
      padding-bottom: 35rem; } }

.menu_details {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  border-bottom: var(--line); }
  @media only screen and (max-width: 68.75em) {
    .menu_details {
      margin-top: 3rem;
      padding: 0;
      padding-bottom: 2.5rem; } }

.specials {
  display: flex;
  flex-direction: column;
  margin: 3rem 5rem;
  padding: 2rem;
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 68.75em) {
    .specials {
      margin: 0;
      margin-top: 2.5rem; } }

.special-items {
  display: flex;
  margin-top: 1.5rem; }
  @media only screen and (max-width: 31.25em) {
    .special-items {
      flex-direction: column; } }

.reservation {
  display: flex;
  padding: 5rem;
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 68.75em) {
    .reservation {
      margin-top: 4rem;
      padding: 0; } }

.footer {
  padding: 3rem;
  background-color: var(--color-grey-dark-1); }

.navbar-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 0.8rem;
  align-self: stretch;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .navbar-nav {
      background-color: #333; } }
  @media only screen and (max-width: 31.25em) {
    .navbar-nav {
      justify-content: center;
      align-items: center; } }
  .navbar-nav__item {
    position: relative; }
  .navbar-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .navbar-nav__item:hover::before, .navbar-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .navbar-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .navbar-nav__link:link, .navbar-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact {
  padding: 3rem;
  background-color: var(--color-grey-dark-1); }
  .contact__details {
    display: flex;
    justify-content: space-around;
    cursor: pointer; }
    @media only screen and (max-width: 31.25em) {
      .contact__details {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  @media only screen and (max-width: 56.25em) {
    .contact {
      padding: 1rem; } }

.intro {
  margin: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 50%; }
  .intro__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 1rem 0; }
  @media only screen and (max-width: 56.25em) {
    .intro {
      margin: 0rem 1.5rem; } }

.gallery {
  display: flex;
  flex: 0 0 50%;
  position: relative; }
  .gallery__photo {
    width: 45%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .3s;
    outline-offset: 2rem; }
    .gallery__photo--1 {
      left: 3rem;
      top: -2rem; }
      @media only screen and (max-width: 31.25em) {
        .gallery__photo--1 {
          left: 1rem; } }
    .gallery__photo--2 {
      right: 4rem;
      top: 2rem; }
      @media only screen and (max-width: 31.25em) {
        .gallery__photo--2 {
          right: 2rem;
          top: 2rem; } }
    .gallery__photo--3 {
      left: 20%;
      top: 8rem; }
      @media only screen and (max-width: 31.25em) {
        .gallery__photo--3 {
          left: 10%; } }
    .gallery__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
    @media only screen and (max-width: 56.25em) {
      .gallery__photo {
        margin-top: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .gallery__photo {
        width: 55%; } }

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 3rem;
  background-color: var(--color-grey-dark-1);
  box-shadow: var(--shadow-dark);
  color: var(--color-grey-light-3); }
  @media only screen and (max-width: 68.75em) {
    .menu {
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      color: var(--color-grey-dark-1); } }
  @media only screen and (max-width: 56.25em) {
    .menu {
      flex-direction: column;
      padding: 3rem;
      background-color: var(--color-grey-dark-1);
      box-shadow: var(--shadow-dark);
      color: var(--color-grey-light-3); } }

.list {
  list-style: none;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: var(--line);
  font-size: 1.7rem;
  cursor: pointer; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem; }
  .list__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }

.menu-gallery {
  display: flex;
  margin-top: 1.5rem; }
  .menu-gallery__photo {
    width: 100%;
    display: inline-block;
    transition: all .3s; }
    .menu-gallery__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.special-item {
  display: flex;
  margin-top: 1.5rem;
  position: relative; }
  .special-item__photo {
    width: 90%;
    display: block;
    transition: all .5s; }
    .special-item__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
  .special-item__description {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: var(--color-grey-dark-1);
    margin-right: .5rem; }
  @media only screen and (max-width: 68.75em) {
    .special-item {
      flex-direction: column; }
      .special-item__photo {
        width: 90%;
        display: block;
        transition: all .5s; }
        .special-item__photo:hover {
          transform: scale(1.05) translateY(-0.5rem);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
      .special-item__description {
        margin-right: 1rem;
        padding-right: 2.9rem;
        margin-bottom: .5rem; } }
  @media only screen and (max-width: 31.25em) {
    .special-item {
      flex-direction: column; }
      .special-item__photo {
        width: 90%;
        display: block;
        transition: all .5s; }
        .special-item__photo:hover {
          transform: scale(1.05) translateY(-0.5rem);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
      .special-item__description {
        margin-right: 1rem;
        padding-right: 2.9rem;
        margin-bottom: .5rem; } }

.feedback {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  box-shadow: var(--shadow-light); }
  .feedback__form {
    display: flex;
    flex-direction: column; }
    .feedback__form-user, .feedback__form-message {
      display: flex; }

.reservation__form {
  background-color: var(--color-grey-dark-1);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  box-shadow: var(--shadow-dark); }
  @media only screen and (max-width: 68.75em) {
    .reservation__form {
      padding: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .reservation__form {
      flex: 0 0 60%; } }
  @media only screen and (max-width: 31.25em) {
    .reservation__form {
      flex: 0 0 100%; } }

.reservation__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.reservation__gallery {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  background-image: url(/img/food-14.jpg);
  background-size: cover; }
  @media only screen and (max-width: 37.5em) {
    .reservation__gallery {
      flex: 0 0 40%;
      background-image: url(/img/staff.jpg);
      background-size: cover; } }
  @media only screen and (max-width: 31.25em) {
    .reservation__gallery {
      flex: 0 0 0%; } }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__group {
  width: 90%; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .5s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--color-primary); }
  .form__input::-webkit-input-placeholder {
    color: var(--color-grey-dark-2); }
  .form__input:focus:invalid {
    border-bottom: 3px solid var(--color-primary-dark); }

.form__label {
  color: var(--color-grey-dark-3);
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.btn, .btn:link, .btn:visited {
  font-family: 'Jost', sans-serif;
  padding: 1.5rem 5rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: var(--shadow-dark); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: var(--shadow-dark); }

.btn--primary {
  background-color: var(--color-primary);
  color: #fff; }
  .btn--primary::after {
    background-color: var(--color-primary); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom 1s ease-out .75s;
  animation-fill-mode: backwards; }

.footer__links {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .footer__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; } }

.footer__nav {
  display: flex;
  flex: 0 0 33%;
  justify-content: space-around; }
  .footer__nav-link {
    text-decoration: none;
    color: var(--color-primary-light); }
  @media only screen and (max-width: 37.5em) {
    .footer__nav {
      padding: 1rem; } }

.footer__social {
  display: flex;
  flex: 0 0 20%;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer; }

.footer__facebook::before, .footer__twitter::before, .footer__instagram::before {
  content: "";
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 2rem;
  background-color: var(--color-primary);
  -webkit-mask-image: url(../img/facebook.svg);
  -webkit-mask-size: cover;
  mask-image: url(../img/facebook.svg);
  mask-size: cover; }

.footer__facebook::before {
  -webkit-mask-image: url(../img/facebook.svg);
  mask-image: url(../img/facebook.svg); }

.footer__twitter::before {
  -webkit-mask-image: url(../img/twitter.svg);
  mask-image: url(../img/twitter.svg); }

.footer__instagram::before {
  -webkit-mask-image: url(../img/instagram.svg);
  mask-image: url(../img/instagram.svg); }

.heading-2, .heading_2, .heading-3, .heading_3, .heading-4, .heading-5, .heading-6 {
  font-family: 'Jost', sans-serif;
  font-weight: 400; }

.heading-1 {
  font-family: 'Playball', cursive;
  font-weight: 400;
  font-size: 14rem;
  line-height: 1.3;
  color: var(--color-grey-light-1); }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      text-align: center;
      font-size: 7.5rem;
      line-height: 1.5;
      color: var(--color-grey-dark-1);
      background-color: var(--color-grey-light-3);
      opacity: 0.8;
      padding: 0.8rem 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-1 {
      text-align: center;
      font-size: 5.5rem;
      line-height: 1.5;
      color: var(--color-grey-dark-1);
      background-color: var(--color-grey-light-3);
      opacity: 0.8;
      padding: 0.8rem 3rem; } }

.heading-2 {
  font-size: 4rem;
  line-height: 1;
  color: var(--color-primary); }

.heading_2 {
  font-size: 3rem;
  line-height: 1;
  color: var(--color-primary-light);
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-bottom: var(--line);
  text-align: center; }

.heading-3 {
  font-size: 2.5rem;
  background-color: var(--color-grey-light-1);
  padding: 0.5rem;
  color: var(--color-primary); }
  @media only screen and (max-width: 31.25em) {
    .heading-3 {
      font-size: 2rem; } }

.heading_3 {
  font-size: 2.5rem;
  border-bottom: var(--line);
  padding: 0.5rem;
  color: var(--color-primary-light); }

.heading-4 {
  font-size: 1.9rem;
  color: var(--color-primary-light); }

.heading-5 {
  font-size: 1.8rem;
  color: var(--color-primary-light); }
  .heading-5::before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover; }
  @media only screen and (max-width: 68.75em) {
    .heading-5 {
      font-size: 1.6rem; }
      .heading-5::before {
        height: 1.2rem;
        width: 1.2rem;
        margin-right: .4rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading-5 {
      font-size: 1.4rem; }
      .heading-5::before {
        height: 1.2rem;
        width: 1.2rem;
        margin-right: .4rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-5 {
      font-size: 1rem; }
      .heading-5::before {
        height: .8rem;
        width: .8rem;
        margin-right: .4rem; } }
  @media only screen and (max-width: 31.25em) {
    .heading-5 {
      font-size: 1.2rem;
      text-align: center;
      padding: .5rem; }
      .heading-5::before {
        height: 0;
        width: 0; } }

.heading-6 {
  font-size: 1.6rem;
  color: var(--color-primary-light); }
  @media only screen and (max-width: 37.5em) {
    .heading-6 {
      margin-right: 2rem; } }
