%heading {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1.5;
    color: var(--color-primary-dark);
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    line-height: 1;
    color: var(--color-primary);
}

.heading-3 {
    @extend %heading;
    font-size: 2.5rem;
    border-bottom: var(--line);
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
    color: var(--color-primary-light);
}

