.container {
    margin: 0rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    background-image: url(/img/cover.jpg);
    background-size: cover;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
        background-image: url(/img/food-13.jpg);
        background-size: cover;
    }
}

.navbar {
    // background-color: var(--color-grey-dark-1);
    flex-direction: row; // default
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.about {
    display: flex;
    justify-content: space-between;
    padding: 7rem;
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-large) {
        padding: 0rem;
    }

    @media only screen and (max-width: $bp-medium) {
        padding-bottom: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding-bottom: 35rem;
    }
}

.menu_details {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-large) {
        margin-top: 3rem;
        padding: 0;
        padding-bottom: 2.5rem;
    } 
}

.specials {
    display: flex;
    flex-direction: column;
    margin: 3rem 5rem;
    padding: 2rem;
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-large) {
        margin: 0;
        margin-top: 2.5rem;
    }
}

.special-items {
    display: flex;
    margin-top: 1.5rem;

    @media only screen and (max-width: $bp-smallest) {
        flex-direction: column;
    }
}

.reservation {
    display: flex;
    padding: 5rem;
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-large) {
        margin-top: 4rem;
        padding: 0;
    }
}

.footer {
    padding: 3rem;
    background-color: var(--color-grey-dark-1);
}
