%heading {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

.heading-1 {
    font-family: 'Playball', cursive;
    font-weight: 400;
    font-size: 14rem;
    line-height: 1.3;
    color: var(--color-grey-light-1);

    @media only screen and (max-width: $bp-small) {
        text-align: center;
        font-size: 7.5rem;
        line-height: 1.5;
        color: var(--color-grey-dark-1);
        background-color: var(--color-grey-light-3);
        opacity: 0.8;
        padding: 0.8rem 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        text-align: center;
        font-size: 5.5rem;
        line-height: 1.5;
        color: var(--color-grey-dark-1);
        background-color: var(--color-grey-light-3);
        opacity: 0.8;
        padding: 0.8rem 3rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    line-height: 1;
    color: var(--color-primary);
}

.heading_2 {
    @extend %heading;
    font-size: 3rem;
    line-height: 1;
    color: var(--color-primary-light);
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: var(--line);
    text-align: center;
}

.heading-3 {
    @extend %heading;
    font-size: 2.5rem;
    background-color: var(--color-grey-light-1);
    padding: 0.5rem;
    color: var(--color-primary);  

    @media only screen and (max-width: $bp-smallest) {
        font-size: 2rem;
    }
}

.heading_3 {
    @extend %heading;
    font-size: 2.5rem;
    border-bottom: var(--line);
    padding: 0.5rem;
    color: var(--color-primary-light);
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
    color: var(--color-primary-light);
}

.heading-5 {
    @extend %heading;
    font-size: 1.8rem;
    color: var(--color-primary-light);

    &::before {
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .7rem;

        background-color: var(--color-primary);
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        -webkit-mask-size: cover;
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 1.6rem;

        &::before {
            height: 1.2rem;
            width: 1.2rem;
            margin-right: .4rem;
        }
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.4rem;

        &::before {
            height: 1.2rem;
            width: 1.2rem;
            margin-right: .4rem;
        }
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1rem;

        &::before {
            height: .8rem;
            width: .8rem;
            margin-right: .4rem;
        }
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 1.2rem;
        text-align: center;
        padding: .5rem;

        &::before {
            height: 0;
            width: 0;;
        }
    }
}

.heading-6 {
    @extend %heading;
    font-size: 1.6rem;
    color: var(--color-primary-light);

    @media only screen and (max-width: $bp-small) {
        margin-right: 2rem; 
    }
}


